%section.advanced_search.container
  = bootstrap_form_tag(url: search_videos_path, method: :post, layout: :horizontal, control_col: 'col-sm-8') do |f|
    %header
      %h1 Advanced Search
    .form-group
      = f.text_field :search_term, hide_label: true, value: @search_term, placeholder: "Search videos by title, description", wrapper: { class: 'col-sm-6 hide-label'}
    .form-group
      = f.check_box :include_reviews, label: "Include Reviews", checked: @include_reviews
    %br
    .form-group
      .row.average_rating_label Average Rating
    %span#rating-from-to
      = f.select :rating_from, (10..50).map { |num| num / 10.0 }, label: 'From:', selected: @avg_rating_min
    %span#rating-from-to
      = f.select :rating_to, (10..50).map { |num| num / 10.0 }, label: 'To:', selected: @avg_rating_max
    %br
    %br
    = f.submit 'Search', class: 'btn btn-primary'

  %hr
  %h2.results_count Results: #{@videos_count} videos found
  - if @videos_found
    - @videos_found.with_highlights.each do |video, highlight|
      %article.video.row
        .video_data
          %figure.col-sm-2
            = link_to video do
              %img(src="#{video.small_cover_url}")
          .video_body.col-sm-10
            %header
              %h3
                = sanitize highlight[:title] || video.title
            %p.video_description
              = sanitize highlight[:description] || video.description
            %hr
            .details
              %span.average_rating Average rating: #{video.average_review_score}
              %span.reviews_count #{video.reviews.count} reviews
            %footer.video_review
              = sanitize highlight[:reviews]
  - else
    - @all_videos.each do |video|
      %article.video.row
        .video_data
          %figure.col-sm-2
            = link_to video do
              %img(src="#{video.small_cover_url}")
          .video_body.col-sm-10
            %header
              %h3
                = video.title
            %p.video_description
              = video.description
            %hr
            .details
              %span.average_rating Average rating: #{video.average_review_score}
              %span.reviews_count #{video.reviews.count} reviews
