%article.video
  .container
    .row
      .video_large_cover.col-sm-7.col-sm-offset-1
        %img(src="#{@video.large_cover_url}")
      .video_info.col-sm-3
        %header
          %h3= @video.title
          %span Rating: #{@average_review_score}/5.0
        %p= @video.description
        .actions
          - if current_user.paid?
            %a.btn.btn-primary(href="#{@video.trailer_url}") Watch Now
          - if @video.not_yet_queued?(current_user)
            = link_to "+ My Queue", queue_items_path(video_id: params[:id]),
                method: :post, class: "btn btn-default"

%section.reviews.container
  .row
    .col-sm-10.col-sm-offset-1
      = bootstrap_form_for(@review) do |f|
        = f.hidden_field :video_id, value: @video.id
        .row
          .col-sm-3
            = f.select :rating, array_of_star_ratings,label: "Rate this video"
        .row
          .col-sm-8
            = f.text_area :body, label: "Write Review", rows: 6
        %fieldset.form-group.actions.clearfix
          = f.submit "Submit"
          = link_to "Cancel", @video

      %header
        %h3 User Reviews (#{@reviews_count})
      %ul
        - @reviews.each do |review|
          %article.review
            %li.row
              .col-sm-2
                %span Rating: #{review.rating} / 5
                %p
                  by
                  = link_to review.user.full_name, review.user
              .col-sm-8
                %p= review.body
