- if current_user&.trial_period?
  %br
  %h1.text-center
    You are using trial version of this app
    = link_to "Pay to get full access", new_charge_path
%section#top-header.row
  %h1.col-md-2
    = link_to "OpenFlix", home_path
  - if logged_in?
    %ul.col-md-4.clearfix
      %li= link_to "Videos", home_path
      %li= link_to "My Queue", queue_items_path
      %li= link_to "People", friendships_path
    = form_with url: search_videos_path, local: true, class: "col-md-3 navbar-form" do |f|
      .form-group
        = f.text_field :search_term, placeholder: "Search for videos here", class: "form-control"
        = f.submit 'Search', class: "btn btn-default"
    #user_links.pull-right
      %ul
        %li.dropdown
          %a(href="#" id="dlabel" role="button" data-toggle="dropdown" class="dropdown-toggle" data-target="#")
            Welcome, #{current_user.full_name}
            %b.caret
          %ul.dropdown-menu(role="menu" aria-labelledby="dlabel")
            %li
              = link_to "Add new Video", new_admin_video_path if current_user.is_admin?
              = link_to "Invite a Friend", new_friend_invitation_path
              = link_to "Pay", new_charge_path unless current_user.paid?
              = link_to "Sign Out", logout_path
