%section.admin_add_video
  .container
    .row
      .col-md-10.col-md-offset-1
        %ul.nav.nav-tabs
          %li.active
            %a(href="") Recent Payments
          %li
            = link_to "Add a New Video", new_admin_video_path
        %br
          %table.table
            %thead
              %tr
                %th Name
                %th Email
                %th Amount
                %th Reference ID
            %tbody
              - @recent_payments.each do |user|
                %tr
                  %td= user.full_name
                  %td= user.email
                  %td= cents_to_euros(user.amount)
                  %td= user.reference_id
